.ribbon{
    top: 5px;
    left: 15px;
    right: 0px;
    position: absolute;
}
.ontologyContainer{
    height: 95%;
    bottom: 0px;
    top: 45px;
    left: 0px;
    right: 0px;
    position: absolute;
}
.ontologyPanel{
    position:relative;
    height: 48%;
}

.ontologyMainPanel{
    position:relative;
    height: calc(100% - 20px);
}
.ontologyPanelBody{
    overflow: scroll;
    height: calc(100% - 42px);
 }

circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

text {
	font-size:10px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 2px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
    fill: none;
    fill-opacity: .5;
    stroke: #9ecae1;
    stroke-width: 1px;
}

.node:not(:hover) .nodetext {
  display: none;
}
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.hoverLabel{
    background-color: grey;
    color: #006666;
    z-index: 1000;
}

.menu-wrap {
    position: fixed;
    top: 0;
    z-index: 10000;
    right: calc(-400px);
    height: 100%;
    width: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
    background: #373a47;
    transition: 400ms ease all;
    padding: 15px;
    color: #b8b7ad;
}

.menu-visible {
    right: 0px;
    transition: 400ms ease right;
}

#hamburger {
    /* border: 1px solid #374C77; */
    border-radius: 3px 3px 3px 3px;
    background-color: #222222;
    cursor: pointer;
    display: block;
    height: 25px;
    padding: 3px 4px 3px;
    position: absolute;
    width: 30px;
    right: 30px;
    top: 10px;
}

#hamburger div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

.col-margin10{
    margin: 10px;
}